appdirs==1.4.4
yarl==1.20.0
matplotlib-inline==0.1.7
cachetools==5.5.2
pexpect==4.9.0
nvidia-nccl-cu11==2.21.5
Jinja2==3.1.4
debugpy==1.8.14
hyperframe==6.1.0
wcwidth==0.2.13
comm==0.2.2
parso==0.8.4
Brotli==1.1.0
asttokens==3.0.0
jupyter_client==8.6.3
ipython==9.2.0
executing==2.2.0
pillow==11.2.1
pillow==11.1.0
requests==2.32.3
Pygments==2.19.1
nvidia-cublas-cu11==11.11.3.6
nvidia-cusolver-cu11==11.4.1.48
pickleshare==0.7.5
charset-normalizer==3.4.1
scipy==1.15.2
aiohttp==3.11.18
packaging==25.0
nest_asyncio==1.6.0
numpy==2.2.5
patsy==1.0.1
propcache==0.3.1
mpmath==1.3.0
setproctitle==1.3.6
pyparsing==3.2.3
nvidia-cudnn-cu11==9.1.0.70
pyasn1==0.6.1
matplotlib==3.10.1
six==1.17.0
python-dateutil==2.9.0.post0
google-generativeai==0.8.5
uritemplate==4.1.1
nvidia-cusparse-cu11==11.7.5.86
urllib3==2.4.0
nvidia-nvtx-cu11==11.8.86
certifi==2025.4.26
fonttools==4.57.0
nvidia-cuda-nvrtc-cu11==11.8.89
statsmodels==0.14.4
MarkupSafe==3.0.2
psutil==7.0.0
ipython_pygments_lexers==1.1.1
colorama==0.4.6
fsspec==2024.6.1
proto-plus==1.26.1
pyzmq==26.4.0
tornado==6.4.2
google-api-core==2.24.2
threadpoolctl==3.6.0
pyasn1_modules==0.4.2
pycparser==2.22
nvidia-cuda-runtime-cu11==11.8.89
setuptools==79.0.1
python-dotenv==1.1.0
httplib2==0.22.0
idna==3.10
scikit-learn==1.6.1
kiwisolver==1.4.7
kiwisolver==1.4.8
decorator==5.2.1
pyOpenSSL==25.0.0
nvidia-cuda-cupti-cu11==11.8.87
click==8.2.1
sentry-sdk==2.29.1
termcolor==3.0.1
sympy==1.13.3
jupyter_core==5.7.2
wandb==0.19.11
docker-pycreds==0.4.0
frozenlist==1.5.0
PyYAML==6.0.2
ipykernel==6.29.5
GitPython==3.1.44
platformdirs==4.3.7
nvidia-curand-cu11==10.3.0.86
pydantic==1.10.21
tzdata==2025.2
torchaudio==2.7.0+cu118
multidict==6.4.3
smmap==5.0.2
pyu2f==0.1.5
google-auth-httplib2==0.2.0
cycler==0.12.1
hpack==4.1.0
seaborn==0.13.2
google-ai-generativelanguage==0.6.15
rsa==4.9.1
zipp==3.21.0
ptyprocess==0.7.0
jedi==0.19.2
aiohappyeyeballs==2.6.1
typing_extensions==4.13.2
nvidia-cufft-cu11==10.9.0.58
protobuf==5.29.3
gitdb==4.0.12
tqdm==4.67.1
pip==25.1
eval_type_backport==0.2.2
fire==0.7.0
stack_data==0.6.3
triton==3.3.0
prompt_toolkit==3.0.51
attrs==25.3.0
zstandard==0.23.0
joblib==1.4.2
pytz==2025.2
munkres==1.1.4
lz4==4.3.3
googleapis-common-protos==1.70.0
cffi==1.17.1
cryptography==44.0.2
google-api-python-client==2.168.0
pandas==2.2.3
aiosignal==1.3.2
torch==2.7.0+cu118
grpcio==1.71.0
exceptiongroup==1.2.2
importlib_metadata==8.6.1
networkx==3.3
filelock==3.13.1
contourpy==1.3.2
PySocks==1.7.1
torchvision==0.22.0+cu118
google-auth==2.39.0
pure_eval==0.2.3
h2==4.2.0
traitlets==5.14.3
